<ion-view cache-view="false" view-title="HOME">
    <!--location feed section-->
    <ion-content id="location-feed-content" >
        <!--list section-->
        <h1 style="font-size: 30px; font-weight: 400; text-align: center; margin: 20px 0 10px 0">Qual a categoria?</h1>
        <h4 style="font-weight: 400; text-align: center; margin: 0 0 25px 0; font-size: 15px">
          Selecione a categoria do maquinário desejado para ver todos os anúncios daquela área.
        </h4>
        <div class="location-list">
          <!--location item section-->
          <!-- <div class="location-item" ng-repeat="setor in listaDeSetores track by $index" ng-click="redirecionar('/teste/'+setor.id)"> -->
          <div class="location-item" ng-repeat="setor in listaDeSetores track by $index" ng-click="redirecionar('/menu/anuncios-por-setor/'+setor.id)">
              <div class="location-img" style="background-image:url('img/location_feed_01.png')"></div>
              <!-- <div class="location-img" style="background-image:url({{setor.imagem}})"></div> -->
              <div class="location-content row">
                  <div class="col-90">
                      <h1 style="font-size: 20px">{{setor.nome}}</h1>
                      <p>
                          <i class="fa fa-flag"></i>{{setor.frase}}
                      </p>
                  </div>
                  <div class="col-10">
                      <span class="text-add">{{setor.quantidade}}+</span>
                  </div>
              </div>
          </div>
          <!--end location item section-->
        </div><!--end list section-->
    </ion-content><!--end location feed section-->
</ion-view>
