<!-- <ion-side-menus enable-menu-with-back-views="false"> -->
<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-balanced  material-background-nav-bar" style="opacity: 1">
            <ion-nav-buttons side="left">
                <a class="button button-icon button-clear ion-navicon" menu-toggle="left" 
                    ng-click="toggleLeft()"></a>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <a class="button button-icon button-clear ion-search" href="#/menu/busca"></a>
            </ion-nav-buttons>
            <!-- <ion-nav-buttons side="left">
              <a class="button button-icon button-clear ion-navicon" ng-click="toggleLeft()"></a>
              <a class="button button-icon button-clear ion-search" href="#/menu/anuncio-detalhes/1"></a>
          </ion-nav-buttons> -->
        </ion-nav-bar>
        <ion-nav-view name="menuContent" ></ion-nav-view>
    </ion-side-menu-content>
    <md-sidenav md-component-id="left" on-swipe-left="closeSideNav()" on-drag-left="closeSideNav()">
        <!--menu section-->
        <div class="material-background" id="toggle-menu-left-header">
            <!--menu header section-->
            <div class="menu-left-header">
                <img class="user-img" src="img/profileAvatar.jpg">
                <p>
                    <span class="title">Raphael Vizoni do Prado</span>
                    <br/>
                    <span class="sub-title">Pessoa Física</span>
                </p>
            </div><!--end menu header section-->
        </div> <!--menu content section-->
        <ion-content id="toggle-menu-left-content" scroll="false">
            <!--If device is android application will present below code.-->
            <!--It will disable animation to better performance on android.-->
            <!--list section-->
            <!--<div ng-if="isAndroid" class="menu-list">-->
            <div class="menu-list">
                <md-subheader class="md-warn"" >Anúncios</md-subheader>
                <div class="row menu-item" ng-click="navigateTo('menu.home')" 
                    style="background-color: #e6e6dc" id="menuHomeTour">
                    <div class="col-33" style="font-weight: 600; color: #206b38">
                        <i class="fa fa-newspaper-o"></i>
                    </div>
                    <div class="col-66" style="font-size: 20px; font-weight: 600; color: #206b38">
                        <span>HOME</span>
                    </div>
                </div>
                <div class="row menu-item" ng-click="navigateTo('menu.meus-anuncios')" id="menuMeusAnunciosTour">
                    <div class="col-33">
                        <i class="fa fa-file-text-o"></i>
                    </div>
                    <div class="col-66">
                        <span>Meus anúncios</span>
                    </div>
                </div>
                <!--
                <div class="row menu-item" ng-click="navigateTo('app.notelist')">
                    <div class="col-33">
                        <i class="fa fa-truck"></i>
                    </div>
                    <div class="col-66">
                        <span>Frete</span>
                    </div>
                </div>
                -->
                <md-subheader class="md-warn">Perfil</md-subheader>
                <div class="row menu-item"  ng-click="navigateTo('menu.listagem-cartoes')"
                        id="menuMeusCartoesTour">
                    <div class="col-33">
                        <i class="ion-card"></i>
                    </div>
                    <div class="col-66">
                        <span>Meus Cartões</span>
                    </div>
                </div>
                <!--
                <div class="row menu-item"  ng-click="navigateTo('app.singlePushNotification')">
                    <div class="col-33">
                        <i class="fa fa-id-card-o"></i>
                    </div>
                    <div class="col-66">
                        <span>Editar Informações</span>
                    </div>
                </div>
                <div class="row menu-item"  ng-click="navigateTo('app.schedulePushNotification')">
                    <div class="col-33">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="col-66">
                        <span>Alterar Senha</span>
                    </div>
                </div>

                <md-subheader class="md-warn">Empresa</md-subheader>
                <div class="row menu-item"  ng-click="navigateTo('app.wordpressLogin')">
                    <div class="col-33">
                        <i class="fa fa-newspaper-o"></i>
                    </div>
                    <div class="col-66">
                        <span>Anúncios da Empresa</span>
                    </div>
                </div>
                <div class="row menu-item"  ng-click="navigateTo('app.facebookLogin')">
                    <div class="col-33">
                        <i class="fa fa-handshake-o"></i>
                    </div>
                    <div class="col-66">
                        <span>Serviços</span>
                    </div>
                </div>
                <div class="row menu-item"  ng-click="navigateTo('app.googlePlusLogin')">
                    <div class="col-33">
                        <i class="fa fa-shopping-bag"></i>
                    </div>
                    <div class="col-66">
                        <span>Minha Vitrine</span>
                    </div>
                </div>
                <md-subheader class="md-warn">Relatórios</md-subheader>
                <div class="row menu-item"  ng-click="navigateTo('app.googleAdmob')">
                    <div class="col-33">
                        <i class="fa fa-usd"></i>
                    </div>
                    <div class="col-66">
                        <span>Renda</span>
                    </div>
                </div>
                <div class="row menu-item"  ng-click="navigateTo('app.googleAdmob')">
                    <div class="col-33">
                        <i class="fa fa-rocket"></i>
                    </div>
                    <div class="col-66">
                        <span>Por máquina</span>
                    </div>
                </div>
                <div class="row menu-item"  ng-click="navigateTo('app.googleAdmob')">
                    <div class="col-33">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <div class="col-66">
                        <span>Mensal</span>
                    </div>
                </div>
                -->
                <md-subheader class="md-warn">Configurações</md-subheader>
                <div class="row menu-item"  ng-click="navigateTo('menu.opcoes')">
                    <div class="col-33">
                        <i class="fa fa-cog"></i>
                    </div>
                    <div class="col-66">
                        <span>Opções</span>
                    </div>
                </div>
                <!--
                <div class="row menu-item"  ng-click="navigateTo('app.androidMapConnect')">
                    <div class="col-33">
                        <i class="fa fa-info-circle"></i>
                    </div>
                    <div class="col-66">
                        <span>Ajuda</span>
                    </div>
                </div>
                <hr/>
                -->
                <!-- <md-subheader class="md-warn">SAIR</md-subheader> -->
                <div ng-controller="loginController" class="row menu-item" ng-click="deslogar()"
                     id="menuSairTour">
                    <div class="col-33">
                        <i class="fa fa-power-off" style="color: #f00"></i>
                    </div>
                    <div class="col-66">
                        <span style="color: #f00; font-weight: 700">Sair</span>
                    </div>
                </div>
            </div>
            <!--end list section-->
        </ion-content><!--end menu content section-->
        <!--end menu section-->

    </md-sidenav>
</ion-side-menus>
