<ion-view view-title="Formas de pagamento">
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>

    <ion-content id="contract-details-content" style="margin-top: 0px">
      <md-toolbar class="bar-subheader md-tall md-primary toolbar-medium toolbar-in-content">
          <div>
              <h1>
                  <i class="ion-card"></i>
              </h1>
              <h3>Pagamento</h3>
          </div>
      </md-toolbar>
      <div id="product-checkout-content" style="margin-top:0px">
        <div class="col total-summary">
          Cartões de Crédito Cadastrado:
        </div>
          <div>
          <md-radio-group ng-model="cartao.id">
            <md-radio-button value="{{cartao.id}}" ng-repeat="cartao in cartoesCadastrados"  class="row credit-card">
              <i class="ion-card" style="margin-right: 20px; font-size: 30px !important"></i>
              <span class="card-number" style="font-size: 20px">{{cartao.numero}}</span>
            </md-radio-button>
          </md-radio-group>
        </div>
        <a class="md-raised social-button md-button md-default-theme material-background"
           href="#/menu/finalizar-pagamento" style="width: 100%; font-size: 20px; background-color: #469c22 !important">
           Finalizar Compra <i class="ion-checkmark-round" style="margin-left: 5px"></i>
        </a>
        <hr/>
        <div class="text-center">
          <a class="md-raised social-button md-button md-default-theme material-background"
             style="width: 50%; font-size: 20px" href="#/menu/cadastrar-cartao">
             Adicionar novo cartão <i class="ion-plus-round" style="margin-left: 5px"></i>
          </a>
        </div>
        <!-- <a class="md-raised social-button md-button md-default-theme material-background"
           style="width: 100%; font-size: 20px" ng-click="mostrarFormularioNovoCartao()">
           {{mostrarEsconderTexto}} <i class="ion-plus-round" style="margin-left: 5px" ng-if="!mostrarFormulario"></i>
        </a> -->
        <hr/>
      </div>
    </ion-content>

</ion-view>
