<!-- <ion-view view-title="Selecionar Pagamento">
  <ion-nav-buttons side="left">
      <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
          <i class="ion-android-arrow-back"></i>
      </a>
  </ion-nav-buttons>
  <ion-content>
    <h1>{{teste}}</h1>
  </ion-content>
</ion-view> -->


<ion-view view-title="Formas de pagamento">
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons  button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>

    <ion-content id="contract-details-content" style="margin-top: 0px">
      <md-toolbar class="bar-subheader md-tall md-primary toolbar-medium toolbar-in-content">
          <div>
              <h1>
                  <i class="ion-card"></i>
              </h1>
              <h3>Pagamento</h3>
          </div>
      </md-toolbar>
      <div id="product-checkout-content" style="margin-top:0px">
        <div class="col total-summary">
          Cartões de Crédito Cadastrado:
        </div>
          <div>
          <md-radio-group ng-model="cartao.id">
            <md-radio-button value="{{cartao.id}}" ng-repeat="cartao in cartoesCadastrados"  class="row credit-card">
              <i class="ion-card" style="margin-right: 20px; font-size: 30px !important"></i>
              <span class="card-number" style="font-size: 20px">XXXX XXXX XXXX {{cartao.final}}</span>
            </md-radio-button>
          </md-radio-group>
        </div>
        <a class="md-raised social-button md-button md-default-theme material-background"
           style="width: 100%; font-size: 20px" href="#/menu/cadastrar-cartao">
           Add <i class="ion-plus-round" style="margin-left: 5px" ng-if="!mostrarFormulario"></i>
        </a>
        <!-- <a class="md-raised social-button md-button md-default-theme material-background"
           style="width: 100%; font-size: 20px" ng-click="mostrarFormularioNovoCartao()">
           {{mostrarEsconderTexto}} <i class="ion-plus-round" style="margin-left: 5px" ng-if="!mostrarFormulario"></i>
        </a> -->
        <hr/>
        <!-- <form name="formNovoCartao" ng-if="mostrarFormulario">
          <h4 class="text-center">Adicione um novo cartão de crédito</h4>
          <md-input-container md-no-float>
              <i class="ion-card"></i>
              <input ng-model="cartao.numero" name="numero" required placeholder="Número do cartão">
          </md-input-container>
          <md-input-container md-no-float>
              <i class="ion-android-people"></i>
              <input ng-model="cartao.nome" name="nome" required placeholder="Nome no cartão">
          </md-input-container>
          <md-input-container md-no-float>
              <i class="ion-android-calendar"></i>
              <input ng-model="cartao.dataExpiracao" name="dataExpiracao" placeholder="Data de expiração do cartão">
          </md-input-container>
          <md-input-container md-no-float>
              <i class="ion-locked"></i>
              <input ng-model="cartao.codigoSeguranca" numbers-only name="codigoSeguranca" placeholder="Código de Segurança" type="tel">
          </md-input-container>
        </form> -->
      </div>
    </ion-content>

</ion-view>
