<ion-view>
  <!--left button on navigation bar-->
  <!-- <ion-nav-buttons side="left">
      <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
          <i class="ion-android-arrow-back"></i>
      </a>
  </ion-nav-buttons> -->
  <!--end left button on navigation bar-->

  <!--login content section-->
  <ion-content id="social-login" class="bg-white" scroll="false">
      <!--fake login form section-->
      <form class="fakeLogin-form" name="formLogin">
          <div>
              <img src="img/app_icon.png"/>
          </div>
          <div class="sub-header" style="font-size: 24px">Já possui uma conta?</div>
          <div class="sub-header" style="font-size: 16px; margin-top: 15px">Entre com seu e-mail e senha</div>

          <div id="fakeLogin">
              <md-input-container md-no-float="">
                  <input type="email" placeholder="E-mail" name="email" ng-model="usuario.email"
                         class="user-name" required>
              </md-input-container>
              <hr/>
              <md-input-container md-no-float="">
                  <input type="password" placeholder="Senha" name="senha" ng-model="usuario.senha"
                         class="user-password" required>
              </md-input-container>
              <div>
                Esqueceu sua senha?
                <a ng-click="requisitarNovaSenha()"> Redefinir senha</a>
              </div>
          </div>
          <div style="margin-top: 3%">
              <button type="button" ng-click="logar(usuario)" ng-disabled="formLogin.$invalid"
                      class="md-raised social-button md-button md-default-theme material-background">
                  Entrar
              </button>
          </div>
          <!-- <div>
              <a href="#/menu/busca"class="md-raised social-button md-button md-default-theme material-background">
                  Busca
              </a>
          </div>
          <div>
              <a href="#/cadastro-usuario"class="md-raised social-button md-button md-default-theme material-background">
                  Cadastrar
              </a>
          </div>
          <div>
              <a href="#/exemplo"class="md-raised social-button md-button md-default-theme material-background">
                  Exemplo
              </a>
          </div> -->
      </form> <!--end fake login form section-->

      <div class="row" style="padding-left: 16%; margin-top: 15%; font-size: 18px">
        <div> Não tem uma conta?</div>
        <a href="#/cadastro-usuario" style="margin-left: 3%"> Cadastre-se</a>
      </div>

  </ion-content><!--end login content section-->
</ion-view>
