<ion-view view-title="Anúncios por Setor">
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i>
        </a>
    </ion-nav-buttons>

    <ion-content id="cube-feed-content">
        <md-toolbar class="bar-subheader md-tall md-primary toolbar-medium toolbar-in-content">
            <div>
                <h1>AGRÍCOLA</h1>
                <h2>Maquinários</h2>
                <h2>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </h2>
            </div>
        </md-toolbar>

        <div class="feed-list row col" >
            <div class="" ng-repeat="anuncio in listaDeAnuncios track by $index">
              <!-- <div class="feed-item" ng-click="getAnuncio(anuncio.id)"> -->
              <div class="feed-item" ng-click="redirecionar('/menu/anuncio-detalhes/'+anuncio.id)">
                  <div class="feed-img" style="background-image: url('img/cube_feed_03.png')"></div>
                  <div class="feed-content row">
                    <div class="col middle">
                      <h3 style="text-align: center">{{anuncio.nome}}</h3>
                    </div>
                  </div>
                  <div class="feed-content row" style="font-size: 20px">
                      <div class="col left">
                          <i class="ion-cash"  style="font-size: 20px"></i>
                          {{anuncio.preco}}
                      </div>
                      <div class="col right">
                          <i class="ion-android-pin"  style="font-size: 20px"></i>
                          {{anuncio.cidade}}
                      </div>
                  </div>
              </div>
            </div>
          </div>
    </ion-content>
</ion-view>
