<ion-view>
    <!--left button on navigation bar-->
    <ion-nav-buttons side="left">
        <a ng-click="$ionicGoBack()" class="button back-button buttons button-clear header-item nav-back-btn">
            <i class="ion-android-arrow-back"></i> Voltar
        </a>
    </ion-nav-buttons> <!--end left button on navigation bar-->

    <!--product detail section-->
    <!-- <ion-content id="product-detail-content" class="fade-in"> -->
    <ion-content id="product-detail-content">
      <md-content id="product-detail-tab-detail">
          <div class="toolbar-image-cover product" style="background-image: url('/img/shirt_01.png');">
          </div>
          <a class="md-button md-accent md-fab fab-toolbar-medium"
             ng-click="sharedProduct($event,product)"
             aria-label="showListBottomSheet">
              <i class="ion-android-share-alt"></i>
          </a>

          <div class="detail-form">
              <div class="header">
                  <h1>Trator ABCD</h1>
                  <p>Plain design shirt. Created by material team.</p>
              </div>
              <!--product tab detail price section-->
              <div class="product-detail-price">
                  <div class="left">
                      $<span class="font-sale">5555</span>
                      <br/><span
                          class="font-hot-sale"> $7777 </span>
                  </div>
                  <div class="right">
                      <a class="md-raised md-warn md-button md-default-theme" ng-click="addToCart()">
                          ADD TO CART
                      </a>
                  </div>
              </div><!--end product tab detail price section-->

              <!--product tab detail review section-->
              <div class="product-detail-review">
                  <p>Best Seller :
                      <span>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                      </span>
                  </p>
              </div><!--end product tab detail review section-->

              <!--product tab detail shipping section-->
              <div class="product-detail-shipping row">
                  <div class="col-67">
                      <p>Item : MT098541A</p>
                      <p>Coupon : PR34221</p>
                      <p>Shipping : Free</p>
                      <p>Money Back : 30 Day</p>
                  </div>
                  <div class="col-33">
                      <p>In Stock</p>
                      <p><i class="fa fa-cube"></i></p>
                  </div>
              </div><!--end product tab detail shipping section-->
              <!--product tab detail note section-->
              <div class="product-detail-note">
                  <p>Sharing this get discount on top 20%</p>
              </div> <!--end product tab detail note section-->
          </div>
      </md-content>
    </ion-content>
    <!--end product detail section-->

</ion-view>
