<ion-view style="background: url('/img/wallpaper.jpg'); background-repeat: no-repeat; background-size: cover">
  <!-- <ion-content> -->
    <div align="center">
      <h1 class="color-white" style="font-weight: bolder; margin-top: 20%; padding-bottom: 15%; font-size: 70px"> NOME </h1>
      <h2 class="color-white">Já possui uma conta?</h2>
      <button class="button button-calm button-large"
              style="width: 60%; font-size: 30px;font-weight: bolder; margin-top: 5%"
              ng-click="redirecionar('/login')">
        ENTRAR
        <i class="ion-arrow-right-c"></i>
      </button>
      <h2 class="color-white"style="margin-top: 20%; padding-bottom: 5%">Primeira vez?</h2>
      <h4 class="color-white"style="padding-bottom: 5%">Cadastre-se com seu e-mail e senha.</h4>
      <button class="button button-royal button-large" style="width: 60%; font-size: 20px"
              ng-click="redirecionar('/cadastro-usuario')">
        CADASTRAR-ME
        <i class="ion-android-person-add"></i>
      </button>
    </div>
  <!-- </ion-content> -->



    <!-- <h1 class="text-center"> Tela da Index </h1>
    <button class="button button-full button-positive" ng-click="redirecionar('/login')">
      Ir para Login
    </button>
    <button class="button button-full button-dark disabled" ng-click="redirecionar('/cadastrar')">
      Ir para Cadastro (Disabled)
    </button>
    <button class="button button-full button-balanced" ng-click="redirecionar('/menu/home')">
      Ir para Home Logado
    </button>
    <button class="button button-full button-assertive" ng-click="redirecionar('/exemplo')">
      Ir para Exemplo
    </button> -->
</ion-view>
